*~
*.bak
.vscode/*
.DS_Store
env/env/*
!env/env/{env-vars,aliases,functions,misc,overrides}
env/env/overrides/*
!env/env/overrides/README.md
bin/bin/*
!bin/bin/helpers
kitty/.config/kitty/current-theme.conf
nvim/.config/nvim/plugin/*
nvim/.config/nvim/.luarc.json
yabai/.config/yabai/rules
