color0:                                 #263238
color1:                                 #FF5252
color2:                                 #64FFDA
color3:                                 #FFFF00
color4:                                 #00E5FF
color5:                                 #7C4DFF
color6:                                 #18FFFF
color7:                                 #D3D7CF
color8:                                 #5F717A
color9:                                 #FF1744
color10:                               #1DE9B6     
color11:                                 #FFEA00   
color12:                                 #00B0FF   
color13:                                  #651FFF  
color14:                                  #00E5FF  
color15:                                  #EEEEEC  

background:                         #263238
background.items:              #1f292e
background.alt:                    #1f292e                  
foreground:                             #b3c3cb
foreground.alt:                      #b3c3cb
foreground.items:               #5F717A
alert:                                         #FF1744                
primary:                                   #b3c3cb  
secondary:                              #b3c3cb 

transparent:                        #00000000

i3.font :                                       Iosevka NF 14
i3.innerGap :                              15
i3.outerGap :                              0
i3.leftGap :                                  0
i3.rightGap :                               0
i3.topGap :                                 50
i3.bottomGap :                          50
i3.wallpaperPath:                      /home/chaitanya/Pictures/Wallz/
i3.brightnessStep:                  20
i3.term:                                        kitty          

rofi.theme:                                 /home/chaitanya/.config/rofi/rofi.rasi