.bar {
  background: #101418;
  color: #CEE5FF;
}

.widget {
  padding: 0px 15px;
  margin: 10px;
  margin-right: 0px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
  transition: border-radius 50ms ease-in;
}

.first {
  padding-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.between {
  padding: 0px 12.5px;
}

.second {
  padding-left: 10px;
  margin-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.active {
  background: #CEE5FF;
  color: #001D33;
}

.inactive {
  background: #233240;
  color: #B9C8DA;
}

.tray {
  background: #68587A;
  color: #FFFFFF;
}
