source ~/.vimrc

vnoremap " <ESC>`>a"<ESC>`<i"
vnoremap ' <ESC>`>a'<ESC>`<i'
vnoremap ` <ESC>`>a`<ESC>`<i`
vnoremap ( <ESC>`>a)<ESC>`<i(
vnoremap [ <ESC>`>a]<ESC>`<i[
vnoremap { <ESC>`>a}<ESC>`<i{

set showmode
set which-key
set timeoutlen=3000
let g:WhichKey_DefaultDelay = 1500

nmap <C-S-p> <Action>(SearchEverywhere)
nmap <leader><leader> <Action>(GotoFile)
nmap <C-o> <Action>(Back)
nmap <Tab> <Action>(Forward)
nmap <leader>/ <Action>(CommentByLineComment)
nmap <C-f> <Action>(Find)
nmap <C-S-h> <Action>(Replace)
nmap <C-S-f> <Action>(FindInPath)
nmap <C-,> <Action>(ShowSettings)
nmap <leader>e <Action>(FocusEditor)
nmap <C-S-e> <Action>(ActivateProjectToolWindow)
nmap <C-S-d> <Action>(ActivateDebugToolWindow)
nmap <C-S-e> <Action>(ActivateProjectToolWindow)
nmap <C-S-l> <Action>(ActivateTODOToolWindow)
nmap <C-g> <Action>(GotoSymbol)
nmap <C-i> <Action>(GotoImplementation)
nmap <C-d> <Action>(GotoImplementation)
nmap <C-S-u> <Action>(FindUsages)
nmap <leader>lf <Action>(ReformatCode)
nmap <leader>rm <Action>(RefactoringMenu)
vmap <leader>lem <Action>(ExtractMethod)
vmap <leader>leC <Action>(ExtractClass)
vmap <leader>lev <Action>(IntroduceVariable)
vmap <leader>lec <Action>(IntroduceField)
vmap <leader>lrn <Action>(RenameElement)
vmap <leader>lcs <Action>(ChangeSignature)
nmap <leader>lrn <Action>(RenameElement)
nmap <leader>lcs <Action>(ChangeSignature)
nmap <leader><S-d> <Action>(Debug)
nmap <leader><S-r> <Action>(Run)
nmap <leader><S-s> <Action>(Resume)
nmap <leader><S-x> <Action>(Stop)
nmap <leader>b <Action>(ToggleLineBreakpoint)
nmap <leader><down> <Action>(StepInto)
nmap <leader><right> <Action>(StepOver)
nmap <leader><left> <Action>(StepOut)
vmap .. <Action>(EvaluateExpression)
