* {
    background:                     #263238;
    background-alt:                #44545c ;
    foreground:                   #b3c3cb;
    border:               			 #44545c ;
    border-alt:               		 #44545c ;
    selected:               		#685E79ff;
    urgent:                         #DA4453FF;
}