configuration {
    modi: "drun,window,run,ssh";
    show-icons: true;
    run-command: "zsh -i -c '{cmd}'";
    sidebar-mode: true;
    parse-hosts: true;
    parse-known-hosts: true;
    terminal: "kitty";

}
