/* global settings and color variables */

@import "~/.config/rofi/styles/colors.rasi"
window {
   background-color: @background-color;
   width: 800px;
   height:600px;
   padding: 20px;
   fullscreen: false;
   border:  2px;
   font: "Jetbrains Mono 15";
}
