[Unit]
Description=A Service to start VPN GUI on startup
After=graphical.target network.target
Requires=graphical.target

[Service]
Type=oneshot
ExecStart=~/bin/helpers/start-vpn-gui

[Install]
WantedBy=graphical.target
