* {
   bkg: #FFFFFF;
   border:#697080;
   text:#697080;
   dark-text: #2d3036;
   main:#FFFFFF;
   highlight:#697080;
   urgent:#ff1744;
   selected:#651FFF;
   background-color: #FFFFFF;
   border-color:     @border;
   text-color:       @text;
   dark-text-color:  @dark-text;
   main-color:       @main;
   highlight:        @highlight;
   urgent-color:     @urgent;
   selected-color:   @selected;
   selected-border-color:   @selected;
}