/* global settings and color variables */
@import "~/.cache/wal/colors-rofi-dark"

window {
   background-color: @background-color;
   width: 800px;
   height:600px;
   padding: 20px;
   fullscreen: false;
   border:  2px;
   border-color: @border-color;
   font: "Fira Code 18";
}
